html,
body {
  padding: 0;
  margin: 0;
}

body {
  font: 10px "Helvetica Neue", "Calibri", "Droid Sans", "Helvetica", "Arial", sans-serif;
  width: 640px;
  margin: 0 auto;
  text-align: center;
  color: #333;
}