fieldset {
  border: none;
  padding: 2em;
  background: #f0f0f0;
  margin: 6em 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  position: relative
}
legend {
  position: absolute;
  font: bold 18px/22px $ff;
  top: -32px;
  left: 0;
  padding: 5px 20px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #f0f0f0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7)
}
.form-list {
  display: inline-block;
  margin: 0;
  padding: 10px 0 0 0;
}

.field {
  list-style: none;
  margin: 0 0 10px;
  position: relative;
}

.hint {
  position: absolute;
  opacity: 0;
  left: 100%;
  top: 50%;
  white-space: nowrap;
  padding: 0 1em 0 0;
  font-size: 12px;
  perspective: 300px;
  transform-style: preserve-3d;
  transform: translate3d(0, -50%, 1px);
  transition: all .5s ease-out .2s;
}

label {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 2.5;
  font-weight: bold;
  width: 11em;
  padding: 0 1em 0 0;
  text-align: right;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
input, select {
  color: #333;
  font: 14px/2.5 $ff;
  box-sizing: border-box;
  width: 25em;
  background: #fff;
  border: none;
  box-shadow: inset 0 0 2px #4e4e4e;
  border-radius: 4px;
  padding: 0 1em;
  height: 2.5em;
  vertical-align: middle;
  transition: 200ms ease-out;
  &:focus { outline: none;
    box-shadow: inset 0 0 2px #4e4e4e, 0 0 4px #4e4e4e;
    + .hint {
      opacity: 1;
      transform: translate3d(-100%, -50%, 10px);
    }
  }
}
select { -webkit-appearance: none; }


.form-actions {
  margin: -1em 0 6em;
  text-align: right;
  word-spacing: 1em;
}

button {
  border: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 0 1em;
  border-radius: .35em;
  font: bold 16px/2.5em $ff;
  background: linear-gradient(to bottom, #000 0%, rgba(#000, .7) 50%, #000 100%);
  transition: 200ms ease-out;
  letter-spacing: .1ex;
  &:focus, &:hover {
    cursor: pointer;
    outline: none;
    color: #fff;
    box-shadow: 0 0 5px #4e4e4e;
  }
  &:active {
    background: linear-gradient(to bottom, #000 0%, #000 50%, #000 100%);
  }
}