@import "var";
@import "mixins";
@import "core";
@import "animations";
@import "header";
@import "user-list";
@import "form";
@import "form-actions";

.sponsor-label {
  position: fixed;
  right: 1em;
  bottom: 1em;
  color:#000;
  font-size: 12px;
  font-family:sans-serif;
  line-height:1em;
  text-decoration:none;
}
.sponsor-label img{
  height:2.8em;
  vertical-align:middle;
  position:relative;
  top:-.1em;
}
